body{
    /* background-color: aqua; */
    font-family: "Poppins", sans-serif;   
}
/* quick class */
.bg-rec{
    background-color: rgb(139, 0, 0);
}
.text-rec{
    color: rgb(139, 0, 0);
}
.text-white{
    color: white;
}
.speech{
    margin-top: 20px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 30px;
}
/* quick class */
/* top header */
.top-header{
    background-color: rgb(139, 0, 0);
    color: white;
    border: 1px solid transparent;
}
.th-time{
    padding-top: 13px;
}
.th-social{
    padding: 5px;
    display: flex;
}
.th-social button{
    margin-right: 7px;
    margin-top: 3px;
    border-radius: 3px;
    height: 30px;
    padding: 0px 15px 0px 15px;
    font-size: 13px;
    background-color: rgb(139, 0, 0);
    color: rgb(255, 193, 7);
    border: 1px solid rgb(255, 193, 7);
}
.th-social button:hover{
    background-color: rgb(255, 193, 7);
    color: black;
    border: 1px solid rgb(139, 0, 0);
}
.th-social a{
    margin-right: 15px;
    color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 100%;
}
.th-social span{
    margin: 5px;
}
.tenders{
    margin-top: 10px;
}
/* top header */
/* header */
/* header */
/* nav */
.nav ul{
    display: flex;
    align-items: center;
    justify-content:center;
    padding-top: 10px;
}
.nav ul li{
    list-style: none;
    margin-left: 10px;
}
.nav ul li a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
/* nav */
/* carousel */
.carousel-item{
    min-height: 500px;
    background-size: cover;
    background-position: center;
}
.carousel-caption{
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.336);
}
/* carousel */
/* marquee */
/* marquee */
/* introduction */
.latest{
    height: 40px;
    width: 7px;
    margin-top: 5px;
    margin-right: 15px;
    float: left;
}

video{
    border: 15px solid white;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 5px 5px 15px rgba(166, 151, 151, 0.413);
}
/* introduction */
/* mentor */
.card-circle{
    text-align: center;
    align-items: center;
    padding: 20px;
    margin: 5px;
}
.card-img-top-circle{
    border-radius: 100%;
    height: 25vh;
    width: 25vh;
    border:5px solid rgb(139, 0, 0) ;
}
.card-body h5{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: rgb(139, 0, 0);
}
.card-text{
    color: rgb(89, 92, 95);
    font-weight: 600;
}
/* mentor */
/* message */
.director{
    border-radius: 3px;
    border: 1px solid rgb(227, 228, 228);
}
.director img{
    border-radius: 5px;
}
.director h5{
    color:rgb(139, 0, 0) ;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
/* message */
/* feature */
.imgB-0{
    border-radius: 0%;
}
.study-card-achive{
    border: 0cap;
    padding: 15px;
    margin: 13px;
    border-radius: 0%;
    box-shadow: 5px 5px 15px rgba(171, 161, 161, 0.61);
}
.achive-card-title{
    background-color: white;
    padding-bottom: 0px;
    padding: 15px;
    margin: 0%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Josefin Sans',sans-serif;
    color: rgb(139, 0, 0) ;
}
/* feature */
/* course */
.study-card-course{
    border: 0cap;
    padding: 0%;
    padding-bottom: 15px;
    margin: 13px;
    border-radius: 0%;
    box-shadow: 5px 5px 15px rgba(171, 161, 161, 0.61);
}
.study-card-course hr{
    margin:10px 30px 10px 30px;
    width: 80%;
}
.study-card-course button{
    margin: 10px 70px 10px 70px ;
    border-radius: 20px;
    width: 50%;
    border: 0cap;
    padding: 5px;
}
/* course */
/* news */
.team{
    text-align: justify;
    text-justify: inter-word;
    padding: 15px;
    margin: 45px;
    font-size: 14px;
}
.team h6{
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    margin: 0%;
    background-color: rgb(255, 193, 7);
}
.marquee-up{
    background-color: white;
    border-radius: 0px 0px 5px 5px ;
    height: 350px;
}
/* news */
/* activities */
.study-card-activity{
    padding: 0%;
    margin: 13px;
    border-radius: 20px;
    text-align: center;
    border: 0cap;
    color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.173);
}
.study-card-activity img{
    border-radius: 20px;
}
.on-img{
    position: absolute;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 15px 10px 15px 10px;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.679);
    
}
/* activities */
/* footer */
.speak-text{
    font-weight: bold;
    color: white;
    margin-bottom: 25px;
    margin-top: 25px;
    text-decoration-thickness:2px ;
    text-underline-offset:5px ;
    text-decoration: underline;
    text-decoration-color: rgb(255, 102, 0);
}
.footer-links ul{
    padding-left: 0%;
}
.footer-links ul li{
    list-style: none;
}
.footer-links ul li a{
    text-decoration: none;
    color: white;
}
.footer-links ul li a:hover{
    color:rgb(255, 81, 0) ;
}
/* footer */
/* =========== About =========== */
.bg-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.489)) , url(https://static.vecteezy.com/system/resources/thumbnails/049/725/830/small_2x/closeup-of-a-stack-of-books-at-a-local-library-a-resource-for-families-to-gather-and-learn-together-photo.jpg);
    justify-content: center;
}
.bg-image h3{
    margin-top: 150px;
    margin-left: 170px;
    color: white;
    font-weight: bold;
}
.bg-image p{
    color: white;
    font-weight:400;
    margin-bottom: 150px;
    margin-left: 170px;
}

/* =========== About =========== */
